<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">




    <title>@ViewBag.Title</title>
</head>


<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                @*<div id='div4' class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">
                            Add some information about the album below, the author, or any other background context. Make it a few sentences
                            long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or
                            contact information.
                        </p>
                    </div>*@
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Actions</h4>
                    <ul class="list-unstyled">
                        <li class="text-mutenavbar-item"><a class="text-white " href="/register">Register</a></li>
                        <li class="text-mutenavbar-item"><a class="text-white " href="/casulity">Casulity</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <ul class="navbar></ul>

        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">

                <strong></strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
<body ng-app="angularApp" ng-controller="registrationController">
    <div>
        @RenderBody()
    </div>




    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1940:' + (new Date).getFullYear()
            });
        });
    </script>





    <script>

        var app = angular.module('angularApp', []);

        //

        app.controller('registrationController', function ($scope, $http) {




            //insert casulity
            $scope.addCasulity = function (ng0parity, ng0plus, ng0weeks, ng0days, ng0presentation, ng0state, ng0intervention, ng0InterventionOutcome, ng0sex, ng0csindication, ng0indicationOutcome, ng0weight, ng0complications, ng0surgeon, ng0PatientName, ng0PatientAge, ng0AdmissionNumber, ng0ICU) {
                console.log(ng0parity + "\n" + ng0plus + "\n" + ng0weeks + "\n" + ng0days + "\n" + ng0presentation + "\n" + ng0state + "\n" + ng0intervention + "\n" + ng0InterventionOutcome + "\n" + ng0sex + "\n" + ng0csindication + "\n" + ng0indicationOutcome + "\n" + ng0weight + "\n" + ng0complications + "\n" + ng0surgeon + "\n" +
                    ng0PatientName + "\n" + ng0PatientAge + "\n" + ng0AdmissionNumber + "\n" + ng0ICU);
                //ng0parity,ng0plus,ng0weeks,ng0days,ng0presentation,ng0state,ng0intervention,ng0InterventionOutcome,ng0sex,ng0csindication,ng0indicationOutcome,ng0weight,ng0complications,ng0surgeon

                $http({

                    url: "api/CasulityDataClasses",
                    method: "POST",
                    data: {
                        "patientName": ng0PatientName,
                        "patientAge": ng0PatientAge,
                        "ticketId": ng0AdmissionNumber,
                        "ICU": ng0ICU,
                        "parityValue": ng0parity,
                        "addedValue": ng0plus,
                        "weeks": ng0weeks,
                        "days": ng0days,
                        "presentation": ng0presentation,
                        "state": ng0state,
                        "intervention": ng0intervention + ng0csindication,
                        "outcome": ng0InterventionOutcome + ng0indicationOutcome,
                        "sex": ng0sex,
                        "childState": ng0state,
                        "weight": ng0weight,
                        "complications": ng0complications,
                        "dynamics": "",
                        "surgeons": ng0surgeon,
                        "assistants": assistantObject.toString(),
                        "supervisors": supervisorObject.toString()
                    }, headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response) {
                    if (response.status == 200 || response.status == 201) {
                        $scope.response = "Cusality Added";
                        $scope.showresponse = true;
                    }
                    else {
                        $scope.response = "Problem occured, Please contact your system administrator.";
                        $scope.showresponse = true;
                    }

                });
            }

            // end of insert






            // get all drop downs
            $scope.FillDropDowns = function () {
                //customized interventions and indications.



                $http.get('/InterventionList').then(function (interventionOb) {
                    $http.get('/IndicationList').then(function (indicationOb) {
                        $scope.intervenList = interventionOb.data;
                        $scope.indicationList = indicationOb.data;
                        console.log($scope.intervenList);
                        console.log($scope.indicationList);

                    });
                });




                //Presentation
                $http.get('api/ConfChildPresentations').then(function (response) {
                    $scope.ObjectChildPresentation = response.data;

                });
                //State
                $http.get('api/ConfChildStates').then(function (response) {
                    $scope.ObjectChildState = response.data;

                });
                //Outcome
                $http.get('api/NeonatalOutcomes').then(function (neonatalResponse) {

                    $http.get('api/ComplicationsModels').then(function (ComplicationsResponse) {

                        $http.get('api/ConfCsIndications').then(function (IndicationsResponse) {
                            var allObjects = [];
                            var x1 = neonatalResponse.data;
                            var x2 = ComplicationsResponse.data;
                            var x3 = IndicationsResponse.data;

                            x1.forEach(function (el1) {
                                allObjects.push(el1);

                            });
                            x2.forEach(function (el2) {
                                allObjects.push(el2);

                            });
                            x3.forEach(function (el3) {
                                allObjects.push(el3);

                            });
                            console.log(allObjects);

                            $scope.ConcatedObject = allObjects;
                        });
                    });
                });
                //Intervention
                $http.get('api/ConfInterventions').then(function (response) {
                    $scope.ObjectIntervention = response.data;
                    console.log(response.data);
                });

                //Complications
                $http.get('api/ComplicationsModels').then(function (response) {
                    $scope.ObjectComplication = response.data;

                });
                //Dynamics ??
                $http.get('').then(function (response) {


                });
                //Surgeon
                $http.get('api/DoctorProfiles').then(function (response) {

                    $scope.ObjectDoctors = response.data;

                });


            };
            //call it
            $scope.FillDropDowns();






            var assistantObject = [];
            var supervisorObject = [];
            $scope.AddAssitant = function (a) {
                assistantObject.push(a);
                console.log(assistantObject);

            }
            //AddSupervisor
            $scope.AddSupervisor = function (s) {
                supervisorObject.push(s);
                console.log(supervisorObject);

            }
            /// define the weeks days ddm
            var weeksObject = [];
            var DaysObject = [];

            for (i = 0; i < 43; i++) {

                weeksObject.push(i);
            }

            for (j = 0; j < 7; j++) {

                DaysObject.push(j);
            }
            $scope.weeksOrder = weeksObject;
            $scope.DaysOrder = DaysObject;


            //

            $scope.showresponse = false;
            // Doctor professional info configuration.
            $scope.doctorPrecense = ["Available", "Abroad"];

            //API for user registration.

            $scope.regREQ = function (n, t, od, oq, deg, prec, mail, mobile, clinic) {
                var bYear = $("#dp1519323288841").val();
                var pYear = $("#dp1519323288843").val();
                var mYear = $("#dp1519323288842").val();
                var bdate = $("#dp1519323288840").val();

                //    name,date of birth,title,other degrees,other qualifications,degree,bach-mcs-phd year,precense


                $http({

                    url: "api/DoctorProfiles",
                    method: "POST",
                    data: {
                        "DoctorName": n,
                        "DoctorTitle": t,
                        "DoctorDegree": deg,
                        "DoctorBachYear": bYear,
                        "DoctorMcsYear": mYear,
                        "DoctorPhdYear": pYear,
                        "DoctorBirthdate": bdate,
                        "DoctorOtherDegrees": od,
                        "DoctorOtherQualifications": oq,
                        "DoctorPrecense": prec,
                        "Mail": mail,
                        "Mobile": mobile,
                        "Clinic": clinic
                    }, headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (response) {
                    if (response.status == 200 || response.status == 201) {
                        $scope.response = "Profile Created";
                        $scope.showresponse = true;
                    }
                    else {
                        $scope.response = "Problem occured, Please contact your system administrator.";
                        $scope.showresponse = true;
                    }

                });

            };


        });
    </script>


</body>


</html>
