<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  



    <title>@ViewBag.Title</title>
</head>
<body ng-app="angularApp" ng-controller="registrationController">
    <div>
        @RenderBody()
    </div>


</body>

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1940:' + (new Date).getFullYear()  
        });
    });
</script>





<script>
    
    var app = angular.module('angularApp', []);

    //

    app.controller('registrationController', function ($scope, $http) {


        // get all drop downs
        $scope.FillDropDowns = function () {

            //Presentation 
            $http.get('api/ConfChildPresentations').then(function (response) {
                $scope.ObjectChildPresentation = response.data;

            });
            //State 
            $http.get('api/ConfChildStates').then(function (response) {
                $scope.ObjectChildState = response.data;

            });
            //Outcome 
            $http.get('api/NeonatalOutcomes').then(function (neonatalResponse) {

                $http.get('api/ComplicationsModels').then(function (ComplicationsResponse) {

                    $http.get('api/ConfCsIndications').then(function (IndicationsResponse) {
                        var allObjects = [];
                        var x1 = neonatalResponse.data;
                        var x2 = ComplicationsResponse.data;
                        var x3= IndicationsResponse.data;

                        x1.forEach(function (el1) {
                            allObjects.push(el1);

                        });
                        x2.forEach(function (el2) {
                            allObjects.push(el2);

                        });
                        x3.forEach(function (el3) {
                            allObjects.push(el3);

                        });
                        console.log(allObjects);

                        $scope.ConcatedObject = allObjects;
                    });
                });
            });
            //Intervention
            $http.get('api/ConfInterventions').then(function (response) {
                $scope.ObjectIntervention = response.data;
                console.log(response.data);
            });

            //Complications 
            $http.get('api/ComplicationsModels').then(function (response) {
                $scope.ObjectComplication = response.data;

            });
            //Dynamics ??
            $http.get('').then(function (response) {


            });
            //Surgeon 
            $http.get('api/DoctorProfiles').then(function (response) {

                $scope.ObjectDoctors = response.data;

            });


        };
        //call it
        $scope.FillDropDowns();






        var assistantObject = [];
        var supervisorObject = [];
        $scope.AddAssitant = function (a) {
            assistantObject.push(a);
            console.log(assistantObject);

        }
//AddSupervisor
        $scope.AddSupervisor = function (s) {
            supervisorObject.push(s);
            console.log(supervisorObject);

        }
        /// define the weeks days ddm
        var weeksObject = [];
        var DaysObject = [];
      
            for (i = 0; i < 43; i++) {

                weeksObject.push(i);
            }
        
            for (j = 0; j < 7; j++) {

                DaysObject.push(j);
            }
            $scope.weeksOrder = weeksObject;
            $scope.DaysOrder = DaysObject;


        //
       
        $scope.showresponse = false;
        // Doctor professional info configuration.
        $scope.doctorPrecense = ["Available", "Abroad"];

        //API for user registration.

        $scope.regREQ = function (n, t, od, oq, deg, prec) {
            var bYear = $("#dp1519323288841").val();
            var pYear = $("#dp1519323288843").val();
            var mYear = $("#dp1519323288842").val();
            var bdate = $("#dp1519323288840").val();

            //    name,date of birth,title,other degrees,other qualifications,degree,bach-mcs-phd year,precense


            $http({

                url: "api/DoctorProfiles",
                method: "POST",
                data: {
                    "DoctorName": n,
                    "DoctorTitle": t,
                    "DoctorDegree": deg,
                    "DoctorBachYear": bYear,
                    "DoctorMcsYear": mYear,
                    "DoctorPhdYear": pYear,
                    "DoctorBirthdate": bdate,
                    "DoctorOtherDegrees": od,
                    "DoctorOtherQualifications": oq,
                    "DoctorPrecense": prec
                }, headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function (response) {
                if (response.status == 200 || response.status == 201) {
                    $scope.response = "Profile Created";
                    $scope.showresponse = true;
                }
                else {
                    $scope.response = "Problem occured, Please contact your system administrator.";
                    $scope.showresponse = true;
                }

            });

        };


    });
</script>


</html>
