@{
}

<div class="container">

    <div class="row justify-content-start">
        <div class="col-4">
            <div class="form-group">
                <label for="">Parity</label>
                <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
                <small id="" class="form-text text-muted"></small>
            </div>

        </div>
        <div class="col-1">
            <div class="form-group">
                <label for=""><strong>+</strong></label>
                <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
                <small id="" class="form-text text-muted"></small>
            </div>

        </div>

        

        <div class="col-2 mt-4">
            <div class="form-group">
                <label for="">Weeks</label>
                <select>
                    <option ng-repeat="w in weeksOrder">{{w}}</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-2 mt-4">
            <div class="form-group">
                <label for="">Days</label>
                <select>
                    <option ng-repeat="d in DaysOrder">{{d}}</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>
    </div>

    <div class="row justify-content-start">
        <div class="col-2">
            <div class="form-group">
                <label for="">Presentation</label>
                <select>
                    <option value="value">Select</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="">State</label>
                <select>
                    <option value="value">Select</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>

    </div>

    <div class="row justify-content-start">



 
    </div>

    <div class="row justify-content-start">



        <div class="col-4">
            <div class="form-group">
                <label for="">Intervention</label>
                <select ng-model="model_intervention">
                    <option value="value">Select</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-2" ng-show="model_intervention">
            <div class="form-group">
                <label for="">Outcome</label>
                <select>
                    <option value="value">Select</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-2" ng-show="model_intervention">
            <div class="form-group">
                <label for="">Sex</label>
                <select>
                    <option value="value">Select</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>

        <div class="col-2" ng-show="model_intervention">
            <div class="form-group">
                <label for="">State</label>
                <select>
                    <option value="value">Select</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>
    </div>

    <div class="row justify-content-start">



        <div class="col-4">

        </div>
        <div class="col-2">
            <div class="form-group">
                <label for="">Weight</label>
                <input type="text" class="form-control" id="" aria-describedby="" placeholder="">
                <small id="" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>


    <div class="row justify-content-start">
        <div class="col-4">
            <div class="form-group">
                <label for="">Complications</label>
                <select ng-model="model_complications">
                    <option value="value">Select</option>
                </select>
                <small id="" class="form-text text-muted"></small>
            </div>
        
            <div class="col-auto" ng-show="model_complications">
                <div class="form-group">
                    <label for="">Dynamics</label>
                    <select>
                        <option value="value">Select</option>
                    </select>
                    <small id="" class="form-text text-muted"></small>
                </div>
            </div>
        </div>

        @* Surgeon *@
        <div class="col mt-4 justify-content-end">
            <div class="col-4">
                <div class="form-group">
                    <label for="">Surgeon</label>
                    <select ng-model="model_surgeon">
                        <option value="value">Select</option>
                    </select>
                    <small id="" class="form-text text-muted"></small>
                </div>


            </div>

            <div class="col-auto" ng-show="model_surgeon">

                
                <div class="form-group">
                    <label for="">Assistant</label>
                    <select ng-model="a">
                        <option value="value">Select</option>
                        <option>Ahmed shalaby</option>
                        <option>Ayman Abbas</option>
                    </select> <span ng-click="AddAssitant(a)">Add to list?</span>
                    <small id="" class="form-text text-muted"></small>
                </div>

           
            </div>

            <div class="col-auto" ng-show="model_surgeon">
                <div class="form-group">
                    <label for="">Supervisor</label>
                    <select ng-model="s">
                        <option value="value">Select</option>
                        <option>Ahmed shalaby super</option>
                        <option>Ayman Abbas super</option>
                    </select> <span ng-click="AddSupervisor(s)">Add to list?</span>
                    <small id="" class="form-text text-muted"></small>
                </div>
            </div>
     
        </div>

        @* End *@
    </div>
</div>