@{

}



<main role="main">

    <section class="jumbotron text-center">
        <div class="row">
            <div class="container">
                <h1 class="jumbotron-heading">Registration </h1>
                <p class="lead text-muted">Submit now to be enrolled to the staff list , access to the patient's profiles and manage your teaching schedule.</p>
                <p>

                </p>

            </div>

            <div id="div_doctorPersonalPhoto" class="col-md-3">
                <div id="card1" class="card" style="width: 18rem;">
                    @* <img class="card-img-top" src="./images/doctor_avatar.png" alt="Card image cap">*@
                    <div class="card-body">
                        <h5 class="card-title">Personal Photo</h5>
                        <p class="card-text">upload your personal photo</p>
                        <button ng-click="" class="btn btn-danger">Upload</button>
                    </div>
                </div>
            </div>


            <div id="div_doctorPersonalInfo" class="container col-md-3">

                <div style="text-align:left;" id="text1" class="form-group">
                    <label for="forlabel">Full Name </label>
                    <input ng-model="n" type="text" class="form-control undefined" placeholder="ex.Mohamed/Ahmed">
                    <small id="" class="form-text text-muted">
                    </small>
                </div> <div style="text-align:left;" id="text2" class="form-group">
                    <label for="">Date of birth </label>
                    <input ng-model="d" type="text" class="form-control datepicker " id="dp1519323288840">
                    <small id="" class="form-text text-muted">
                    </small>
                </div> <div style="text-align:left;" id="text4" class="form-group">
                    <label for="forlabel">Title </label>
                    <input ng-model="t" type="text" class="form-control undefined">
                    <small id="" class="form-text text-muted">Your current title.</small>
                </div> <div style="text-align:left;" id="text9" class="form-group">
                    <label for="forlabel">Other Degrees </label>
                    <textarea ng-model="od" type="textarea" class="form-control">
                            </textarea>
                    <small id="" class="form-text text-muted">Additional Degrees </small>
                </div> <div style="text-align:left;" id="text10" class="form-group">
                    <label for="forlabel">Other Qualifications </label>
                    <textarea ng-model="oq" type="textarea" class="form-control">
                            </textarea>
                    <small id="" class="form-text text-muted">Conferences,Researches</small>
                </div>
            </div>

            <div id="div_doctorProfessionalInfo" class="container col-md-3">

                <div style="text-align:left;" id="text3" class="form-group">
                    <label for="forlabel">Degree </label>
                    <input ng-model="deg" type="text" class="form-control undefined">

                    <small id="" class="form-text text-muted">Your current degree</small>
                </div> <div style="text-align:left;" id="text5" class="form-group">
                    <label for="">Bach. Year </label>
                    <input ng-model="bdate" type="text" class="form-control datepicker " id="dp1519323288841">
                    <small id="" class="form-text text-muted">
                    </small>
                </div>

                <div style="text-align:left;" id="text6" class="form-group">
                    <label for="">MCS Year </label>
                    <input ng-model="mdate" class="form-control datepicker " id="dp1519323288842">
                    <small id="" class="form-text text-muted">

                    </small>
                </div> <div style="text-align:left;" id="text7" class="form-group">
                    <label for="">PHD Year </label>
                    <input ng-model="pdate" type="text" class="form-control datepicker " id="dp1519323288843">
                    <small id="" class="form-text text-muted">
                    </small>
                </div>
                <span>Doctor Presence</span>

                <select ng-model="prec" id="select1">
                    <option>Select</option>
                    <option ng-repeat="p in doctorPrecense">{{p}}</option>
                </select>
                <small id="" class="form-text text-muted">ex.Available,Abroad</small>
            </div>

        </div>
        <button id="REQregister" ng-click="regREQ(n, t, od, oq, deg, prec)" class="btn btn-danger">Submit</button>
        <div ng-show="showresponse">
            {{response}}
        </div>

    </section>


